Django==5.2.6
google-generativeai==0.8.5
Jinja2==3.1.6
joblib==1.5.2
language_tool_python==2.9.4
pandas==2.3.2
python-dotenv==1.1.1
requests==2.32.5
scikit-learn==1.7.1
textblob==0.19.0
textstat==0.7.10
whitenoise==6.9.0
gunicorn