<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Interface</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/dd26978ca1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <h1 class="strong-heading">Comm AI</h1>
    </div>
    
    <div class="chat-container">
        <div class="chat-box" id="chatBox">
            <!-- Chat messages will be appended here -->
        </div>
    </div>
    <button class="speech-button" id="pulse" onclick="startRecognition()">
        <i class="fa-solid fa-microphone-slash" id="mic-icon"></i>
    </button>
    <button class="submit-button" onclick="submitConversation()">Submit Conversation</button>
    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
